---
import companyHistoryJson from "@data/company-history.json";
import { Icon } from "astro-icon";
import { Img } from "astro-imagetools/components";
---

<company-history>
  <!-- Header -->
  <header>
    <h1 class="text-5xl text-center">Company History</h1>
  </header>

  <!-- Content Container -->
  <section class="max-w-6xl mx-auto relative mt-8 px-4 lg:px-8">
    <!-- Carousel -->
    <ul
      id="carousel"
      class="bg-white shadow-lg scroll-smooth flex snap-x overflow-hidden"
    >
      {
        companyHistoryJson.contents.map((history) => {
          return (
            <li class="slides snap-start w-full flex flex-col flex-shrink-0 md:pl-16">
              <figure class="flex flex-wrap h-full flex-row-reverse">
                <div class="w-full p-8 md:w-1/2">
                  <Img src={history.image} alt={history.name} />
                </div>
                <figcaption class="py-8 md:w-1/2 lg:pt-16">
                  <header class="flex items-center">
                    <div class="h-[0.1rem] w-8 bg-blue-500" />
                    <h2 class="pl-8 text-2xl text-primary">{history.name}</h2>
                  </header>
                  <p class="pl-16 lg:text-xl">{history.summary}</p>
                </figcaption>
              </figure>
            </li>
          );
        })
      }
    </ul>

    <!-- Timeline Container -->
    <section class="flex items-center relative mt-8 overflow-hidden">
      <!-- line -->
      <div class="h-1 bg-blue-500 absolute w-full top-1/2 -translate-y-1/2">
      </div>

      <button
        id="prev-btn"
        aria-label="Previous Button"
        class="h-6 w-6 rounded-full bg-white relative"
      >
        <Icon class="h-full w-full" name="mdi:chevron-left" />
      </button>

      <!-- Timeline -->
      <ul class="flex-1 flex">
        {
          companyHistoryJson.contents.map((history) => {
            return (
              <li class="w-1/4 flex-shrink-0 pl-4">
                <div class="absolute h-96 w-1 bg-primary" />
                <p class="absolute bottom-0 translate-y-full">{history.name}</p>

                <div class="h-10 w-10 rounded-full bg-black relative">
                  <div class="z-[1] vertical-line absolute h-96 w-1 left-1/2 -translate-x-1/2 bg-blue-500" />
                  <div class="absolute w-1/3 h-1/3 left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 bg-white rounded-full" />
                </div>
              </li>
            );
          })
        }
      </ul>
      <button
        id="next-btn"
        aria-label="Next Button"
        class="h-6 w-6 rounded-full bg-white relative"
      >
        <Icon class="h-full w-full" name="mdi:chevron-right" />
      </button>
    </section>

    <button class="mx-auto">View More</button>
  </section>
</company-history>

<script>
  class CompanyHistory extends HTMLElement {
    constructor() {
      super();

      const carousel = this.querySelector("#carousel");
      const prevBtn = this.querySelector("#prev-btn");
      const nextBtn = this.querySelector("#next-btn");

      prevBtn?.addEventListener("click", () => {
        carousel?.scrollBy(-carousel.clientWidth, 0);
      });

      nextBtn?.addEventListener("click", () => {
        carousel?.scrollBy(carousel.clientWidth, 0);
      });
    }
  }

  customElements.define("company-history", CompanyHistory);
</script>
