---
import LayoutCategory from "@layouts/LayoutCategory.astro";
import crossReferenceChartJson from "@data/cross-reference-chart.json";
---

<LayoutCategory
  image="/images/resources/banner.webp"
  title="Cross-Reference Chart"
  pageTitle={crossReferenceChartJson.pageTitle}
  pageDescription={crossReferenceChartJson.pageDescription}
  pageKeywords={crossReferenceChartJson.pageKeywords}
  ogTitle={crossReferenceChartJson.ogTitle ?? crossReferenceChartJson.pageTitle}
  ogDescription={crossReferenceChartJson.ogDescription ??
    crossReferenceChartJson.pageDescription}
  ogImage={crossReferenceChartJson.ogImage}
  ogType={crossReferenceChartJson.ogType}
  twitterCardType={crossReferenceChartJson.twitterCardType}
  twitterTitle={crossReferenceChartJson.twitterTitle}
  twitterDescription={crossReferenceChartJson.twitterDescription}
  twitterImage={crossReferenceChartJson.twitterImage}
>
  <section class="max-w-7xl mx-auto px-4 lg:px-8">
    <section class="py-8 flex flex-wrap justify-center">
      {
        crossReferenceChartJson.newContents.map((table) => {
          // header is the first array, body is the rest
          const [header, ...body] = table;

          return (
            <section class="p-1 w-1/2 md:p-2 md:w-1/3 lg:p-4">
              <table class="w-full border-2 border-black text-center divide-y-2 divide-black">
                <thead>
                  <tr class="divide-x-2 divide-black text-lg">
                    <th class="bg-red-400">{header[0]}</th>
                    <th class="bg-blue-200">{header[1]}</th>
                  </tr>
                </thead>
                <tbody class="divide-y-2 divide-black">
                  {body.map((row) => {
                    return (
                      <tr class="divide-x-2 divide-black">
                        <td>{row[0]}</td>
                        <td class="bg-blue-200">{row[1]}</td>
                      </tr>
                    );
                  })}
                </tbody>
              </table>
            </section>
          );
        })
      }
      <!-- <table
        class="w-full text-center min-w-[900px] border-gray-500 border-y border-r"
      >
        <thead>
          <tr class="bg-primary text-white text-xl">
            <th class="p-1 border-l border-gray-500">ASI</th>
            <th class="p-1 border-l border-gray-500">AES</th>
            <th class="p-1 border-l border-gray-500">Eagle Burgmann速</th>
            <th class="p-1 border-l border-gray-500">John Crane速</th>
            <th class="p-1 border-l border-gray-500">VULCAN速</th>
            <th class="p-1 border-l border-gray-500">Flowserve速</th>
            <th class="p-1 border-l border-gray-500">Others</th>
          </tr>
        </thead>
        <tbody>
          {
            crossReferenceChartJson.contents.map((entry) => {
              return (
                <tr class="text-lg">
                  <td class="p-1 border-l border-t border-gray-500">
                    {entry.asi}
                  </td>
                  <td class="p-1 border-l border-t border-gray-500">
                    {entry.aes}
                  </td>
                  <td class="p-1 border-l border-t border-gray-500">
                    {entry.burgmann}
                  </td>
                  <td class="p-1 border-l border-t border-gray-500">
                    {entry.john}
                  </td>
                  <td class="p-1 border-l border-t border-gray-500">
                    {entry.vulcan}
                  </td>
                  <td class="p-1 border-l border-t border-gray-500">
                    {entry.flowserve}
                  </td>
                  <td class="p-1 border-l border-t border-gray-500">
                    {entry.others}
                  </td>
                </tr>
              );
            })
          }
        </tbody>
      </table> -->
    </section>
  </section>
</LayoutCategory>
