---
import LayoutCategory from "@layouts/LayoutCategory.astro";
import faqsJson from "@data/faqs.json";
import { getCollection } from "astro:content";

const faqsCollection = await getCollection("faqs");
---

<LayoutCategory
  image="/images/resources/banner.webp"
  title="FAQ"
  pageTitle={faqsJson.pageTitle}
  pageDescription={faqsJson.pageDescription}
  pageKeywords={faqsJson.pageKeywords}
  ogTitle={faqsJson.ogTitle ?? faqsJson.pageTitle}
  ogDescription={faqsJson.ogDescription ?? faqsJson.pageDescription}
  ogImage={faqsJson.ogImage}
  ogType={faqsJson.ogType}
  twitterCardType={faqsJson.twitterCardType}
  twitterTitle={faqsJson.twitterTitle}
  twitterDescription={faqsJson.twitterDescription}
  twitterImage={faqsJson.twitterImage}
>
  <section class="max-w-7xl py-8 mx-auto px-4 lg:px-8">
    <ul class="space-y-2">
      {
        faqsCollection.map(async (faq) => {
          const { Content } = await faq.render();
          return (
            <li class="border pt-4 px-4">
              <article>
                <header class="text-2xl flex font-bold">
                  <p class="text-primary pr-4">Q</p>
                  <h2 class="text-background">{faq.data.name}</h2>
                </header>
                <section class="flex items-start markdown text-xl">
                  <p class="pr-4 text-2xl text-primary">A</p>
                  <section>
                    <Content />
                  </section>
                </section>
              </article>
            </li>
          );
        })
      }
    </ul>
  </section>
</LayoutCategory>
