---
import ContactUsForm from "@components/widgets/ContactUsForm.astro";
import ProductSearch from "@components/widgets/ProductSearch.astro";
import RelatedProducts from "@components/products/RelatedProducts.astro";
import DetailsHeader from "@components/products/DetailsHeader.astro";
import productsJson from "@data/products.json";
import LayoutCategory from "@layouts/LayoutCategory.astro";
import ProductGallery from "@components/products/ProductGallery.astro";
import { getCollection } from "astro:content";
import { utilTextToUrl } from "src/helpers/commonUtils";
import productCategoriesJson from "@data/product-categories.json";

export function getStaticPaths() {
  return productsJson.contents.map((product) => {
    return {
      params: {
        category: product.category ?? "test",
        subCategory: product.subCategory ?? "test",
        product: product.slug ?? "test",
      },
      props: {
        product,
      },
    };
  });
}

type Props = {
  product: (typeof productsJson.contents)[0];
};
const { product } = Astro.props as Props;

const informationCollection = await getCollection(
  "product-information",
  (entry) => entry.id.split("/")[0] === product.slug
);

informationCollection.sort((a, b) => a.data.order - b.data.order);

const productSpecs = informationCollection.filter((entry) => {
  return !entry.id.includes("details");
});

const fileDetails =
  informationCollection.find((entry) => entry.id.includes("details")) ?? null;
const details = fileDetails ? await fileDetails.render() : null;

const { pathname } = Astro.url;

const category = productCategoriesJson.contents.find(
  (entry) => entry.slug === product.category
)!;
const subCategories = category.categories as Record<string, any>[];
const subCategory = subCategories.find(
  (entry) => entry.slug === product.subCategory
)!;
---

<LayoutCategory
  title={product.name}
  pageTitle={product.pageTitle ?? product.name}
  image="/images/products/banner-inner.webp"
  pageDescription={product.pageDescription ?? product.summary}
  pageKeywords={product.pageKeywords}
  ogImage={product.ogImage ?? product.imageUrl}
  ogTitle={product.ogTitle ?? product.name ?? product.pageTitle}
  ogDescription={product.ogDescription ??
    product.summary ??
    product.pageDescription}
  ogType={product.ogType}
  twitterCardType={product.twitterCardType}
  twitterTitle={product.twitterTitle}
  twitterDescription={product.twitterDescription}
  twitterImage={product.twitterImage}
>
  <!-- Product Summary -->
  <section class="max-w-7xl mx-auto px-4 pt-8 lg:pt-16 lg:px-8">
    <figure class="flex flex-wrap">
      <!-- Product Image -->
      <section class="w-full mx-auto md:w-1/2 lg:w-3/5">
        <ProductGallery images={product.images} />
      </section>

      <!-- Product Info -->
      <figcaption class="flex flex-col w-full pt-4 md:w-1/2 lg:p-8 lg:w-2/5">
        <!-- Product Title -->
        <header>
          <h2 class="text-4xl">{product.name}</h2>
        </header>

        <!-- ShareThis section -->
        <section class="my-4">
          <header>
            <h3 class="text-xl">Share to:</h3>
          </header>
          <div class="sharethis-inline-share-buttons"></div>
        </section>

        <!-- Product Category Section -->
        <section class="text-2xl mb-4">
          {category.name}
          {subCategory.name}
        </section>

        <!-- Product Content section -->
        <section class="mb-4 text-lg">
          {details ? <details.Content /> : null}
        </section>

        <!-- Product Inquiry -->
        <a
          href={pathname + "/inquire"}
          class="px-8 py-2 flex bg-primary text-onPrimary items-center space-x-2 w-fit rounded-full"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="14"
            height="14"
            viewBox="0 0 14 14"
            ><g
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path
                d="m7.5 9l-3 .54L5 6.5L10.73.79a1 1 0 0 1 1.42 0l1.06 1.06a1 1 0 0 1 0 1.42Z"
              ></path><path
                d="M12 9.5v3a1 1 0 0 1-1 1H1.5a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h3"
              ></path></g
            ></svg
          >
          <span>Request a callback</span>
        </a>
      </figcaption>
    </figure>
  </section>

  <!-- Product Description Section -->
  <section class="max-w-7xl mx-auto px-4 mt-8 lg:px-8">
    <!-- Product Description Header -->
    <DetailsHeader productSpecs={productSpecs} />

    <section class="border-x border-b text-lg">
      {
        productSpecs.map(async (entry) => {
          const { data, render } = entry;
          const { name } = data;
          const { Content } = await render();
          return (
            <article id={utilTextToUrl(entry.data.name)}>
              <header class="border-y bg-gray-200 p-2">
                <h3 class="font-bold">{name}</h3>
              </header>
              <section class="p-2 markdown">
                <Content />
              </section>
            </article>
          );
        })
      }
    </section>
  </section>

  <!-- Products Search section -->
  <section class="max-w-7xl mx-auto pt-8 px-4 lg:px-8">
    <header class="bg-gray-200 border-l-4 border-background p-2">
      <h2 class="text-2xl font-bold">Product Search</h2>
    </header>
    <section class="p-4">
      <ProductSearch hideTitle={true} />
    </section>
  </section>

  <!-- Related Products Section -->
  <section class="max-w-7xl mx-auto pt-8 px-4 lg:px-8">
    <header class="bg-gray-200 border-l-4 border-background p-2">
      <h2 class="text-2xl font-bold">Related Products</h2>
    </header>
    <section class="p-4">
      <RelatedProducts
        slug={product.slug}
        data={productsJson.contents.filter(
          (entry) => entry.subCategory === product.subCategory
        )}
      />
    </section>
  </section>

  <!-- Contact Us Section -->
  <section class="max-w-7xl mx-auto pt-8 pb-16 px-4 lg:px-8">
    <header class="bg-gray-200 border-l-4 border-background p-2">
      <h2 class="text-2xl font-bold">Contact Us Now</h2>
    </header>
    <section class="p-4">
      <ContactUsForm slug={product.slug} />
    </section>
  </section>
</LayoutCategory>

<!-- ShareThis Script -->
<script
  type="text/javascript"
  src="https://platform-api.sharethis.com/js/sharethis.js#property=6423eadfc4c9540012ffbc08&product=sop"
  async="async"
></script>

<!-- SwiperJS -->
<script>
  import { register } from "swiper/element/bundle";
  register();
</script>
