---
import LayoutCategory from "@layouts/LayoutCategory.astro";
import contactsJson from "@data/contacts.json";
import headquartersJson from "@data/headquarters.json";
import { Icon } from "astro-icon";
---

<LayoutCategory
  image="/images/contact-us/banner.webp"
  pageTitle="Contact Us"
  title="Contact Us"
>
  <!-- Container -->
  <section class="font-abel mx-auto container px-4 lg:px-8">
    <!-- Contact Information -->
    <figure class="flex flex-wrap mb-12 mt-8 lg:mt-16">
      <div class="w-full lg:w-1/3">
        <img
          class="w-full h-full object-cover"
          src="/images/contact-us/building.webp"
          alt="Asiseals Building"
        />
      </div>
      <figcaption class="mt-8 w-full lg:mt-0 lg:pl-16 lg:w-2/3">
        <header>
          <h1 class="text-5xl">Contact Us Now</h1>
        </header>
        <p class="text-lg italic">
          If you would like to have a question then get in touch today, we are
          ready to assist 24/7.
        </p>

        <!-- More Contact Info -->
        <ul class="flex flex-wrap">
          {
            contactsJson.contents.map((contact) => {
              return (
                <li class="p-2 w-full md:w-1/3">
                  <figure class="border rounded-lg overflow-hidden pt-8 pb-4 px-4">
                    <figcaption>
                      <header>
                        <h2 class="text-3xl font-bold">{contact.message}</h2>
                      </header>
                      <p class="text-2xl py-4">{contact.name}</p>

                      <Icon
                        class="ml-auto w-24 h-24 text-gray-200"
                        name={contact.icon}
                      />
                    </figcaption>
                  </figure>
                </li>
              );
            })
          }
        </ul>
      </figcaption>
    </figure>
  </section>

  <!-- Map of main headquarter -->
  <section class="mx-auto container px-4 lg:px-8">
    <iframe
      class="w-full mb-16"
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d789.3081727230084!2d-88.10655281083582!3d41.676679233751436!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e597921299699%3A0x3c2b7466e2661bd5!2sPolymer%20Industries!5e0!3m2!1sen!2sph!4v1679562520006!5m2!1sen!2sph"
      height="450"
      style="border:0;"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </section>

  <!-- Headquarters information -->
  <section class="font-abel bg-[#3B71A1] py-16 text-white">
    <!-- Container -->
    <section class="container mx-auto px-4 lg:px-8">
      <!-- Header -->
      <header>
        <h1 class="text-center text-5xl font-medium">Contact Information</h1>
      </header>

      <!-- Content -->
      <section class="flex flex-wrap mt-8">
        {
          headquartersJson.contents.map((headquarter) => {
            return (
              <div class="p-2 flex w-full lg:w-1/3 ">
                <article class="flex flex-col w-full bg-[#7199BC] p-8 border-l-4 border-[#E14753]">
                  <header>
                    <h2 class="text-3xl font-bold">{headquarter.name}</h2>
                  </header>
                  <p class="text-lg mb-auto mt-8">{headquarter.address}</p>
                  <ul class="mt-8">
                    {headquarter.contacts.map((contact) => {
                      return (
                        <li class="flex">
                          <span>{contact.name}</span>
                        </li>
                      );
                    })}
                  </ul>
                </article>
              </div>
            );
          })
        }
      </section>
    </section>
  </section>

  <!-- Contact Us Form -->
  <section class="font-abel container mx-auto py-16 px-4 lg:px-8">
    <header>
      <h1 class="text-5xl text-center">Get in Touch</h1>
      <p class="text-center text-lg mt-4 text-[#E14753]">
        We welcome your cooperation and we will develop with you.
      </p>
    </header>

    <form class="mt-4 space-y-4">
      <input
        class="text-2xl w-full border-2 px-2 py-1"
        name="name"
        required
        placeholder="*Name"
      />
      <input
        class="text-2xl w-full border-2 px-2 py-1"
        name="company"
        placeholder="Company Name"
      />
      <input
        class="text-2xl w-full border-2 px-2 py-1"
        name="email"
        type="email"
        required
        placeholder="*Email"
      />
      <input
        class="text-2xl w-full border-2 px-2 py-1"
        name="tel"
        placeholder="*Tel/WhatsApp"
      />
      <textarea
        class="text-2xl w-full border-2 px-2 py-1"
        name="message"
        placeholder="*Message"></textarea>

      <button type="submit" class="px-16 text-white text-xl py-4 bg-[#E14753]"
        >Submit</button
      >
    </form>
  </section>
</LayoutCategory>
