---
import navBarJson from "@data/nav-bar.json";
import NavDropMobile from "./NavDropMobile.astro";
import { Icon } from "astro-icon";

const { links } = navBarJson;

const { pathname } = Astro.url;
---

<header class="z-10 sticky top-0 bg-gray-50 font-abel">
  <!-- Nav Bar -->
  <section
    class="container flex items-center justify-between mx-auto z-[1] relative px-4 lg:px-8 lg:justify-center"
  >
    <nav class="flex items-center justify-center space-x-8">
      <a href="/">Logo</a>

      <!-- Desktop Nav Menu -->
      <ul class="hidden items-center lg:flex">
        {
          links.map((link) => {
            return (
              <li class="relative group">
                <a
                  class={`flex items-center border-b-4 border-gray-50 py-8 px-2 relative ${
                    pathname.includes(link.href)
                      ? "text-[#F52B3F] border-[#F52B3F]"
                      : ""
                  } z-[2] bg-gray-50 transition lg:text-xl xl:text-2xl group-hover:text-[#F52B3F] group-hover:border-[#F52B3F]`}
                  href={link.href}
                >
                  <span>{link.name}</span>
                  <span class="transition group-hover:rotate-180">
                    <Icon class="w-6 h-6" name="mdi:chevron-down" />
                  </span>
                </a>
                <ul class="divide-y-2 border-b-2 shadow-lg bg-gray-50 absolute bottom-0 transition opacity-0 translate-y-[105%] pointer-events-none group-hover:pointer-events-auto group-hover:translate-y-full group-hover:z-[1] group-hover:opacity-100">
                  {link.categories.map((category) => {
                    return (
                      <li>
                        <a
                          class="py-2 px-4 whitespace-nowrap block transition hover:text-white hover:bg-[#F52B3F]"
                          href={`${link.href}${category.href}`}
                        >
                          {category.name}
                        </a>
                      </li>
                    );
                  })}
                </ul>
              </li>
            );
          })
        }
      </ul>
    </nav>

    <!-- Desktop Search -->
    <div class="hidden relative z-[2] ml-8 items-center py-1 px-2 lg:flex">
      <div
        id="search-input"
        class="origin-left scale-x-0 flex items-center transition absolute w-56 right-0 py-1 px-2 rounded-full bg-gray-200"
      >
        <input
          class="flex-1 bg-gray-200 focus:outline-none"
          placeholder="Search..."
        />
        <button class="relative mr-6" id="search-btn">
          <Icon class="w-6 h-6 text-[#F52B3F]" name="mdi:magnify" />
        </button>
      </div>

      <button class="relative" id="open-search-btn">
        <Icon class="w-6 h-6 text-[#F52B3F]" name="mdi:magnify" />
      </button>
      <button class="hidden relative" id="close-search-btn">
        <Icon class="w-6 h-6 text-[#F52B3F]" name="mdi:close" />
      </button>
    </div>

    <!-- Mobile Menu Btn -->
    <button id="nav-menu-btn" class="lg:hidden">Menu</button>
  </section>

  <!-- Mobile Nav Menu -->
  <div
    id="nav-menu"
    class="transition pb-8 -translate-y-full pointer-events-none opacity-0 bg-white overflow-auto fixed w-full h-full left-0 top-6 px-4 lg:hidden"
  >
    <section class="flex py-4 border-b-2">
      <button class="pr-4"><Icon name="mdi:magnify" class="w-6 h-6" /></button>
      <input class="flex-1" placeholder="Search..." />
    </section>
    <nav>
      <ul class="divide-y-2">
        {
          links.map((link) => {
            return <NavDropMobile link={link} />;
          })
        }
      </ul>
    </nav>
  </div>
</header>

<script>
  const navMenuBtn = document.querySelector("#nav-menu-btn")!;
  const navMenu = document.querySelector("#nav-menu")!;
  const openSearchBtn = document.querySelector("#open-search-btn")!;
  const closeSearchBtn = document.querySelector("#close-search-btn")!;
  const searchInput = document.querySelector("#search-input")!;
  const searchBtn = document.querySelector("#search-btn")!;

  navMenuBtn.addEventListener("click", () => {
    navMenu.classList.toggle("-translate-y-full");
    navMenu.classList.toggle("opacity-0");
    navMenu.classList.toggle("pointer-events-none");
  });

  openSearchBtn.addEventListener("click", () => {
    searchInput.classList.remove("scale-x-0");
    closeSearchBtn.classList.remove("hidden");
    openSearchBtn.classList.add("hidden");
  });

  closeSearchBtn.addEventListener("click", () => {
    searchInput.classList.add("scale-x-0");
    closeSearchBtn.classList.add("hidden");
    openSearchBtn.classList.remove("hidden");
  });
</script>
