---
import { Icon } from "astro-icon";

type Link = {
  name: string;
  href: string;
};

type Props = {
  link: {
    name: string;
    href: string;
    categories: Link[];
  };
};

const { link } = Astro.props as Props;
---

<nav-drop-mobile is="nav-drop-mobile" class="flex flex-wrap justify-between">
  <a class="py-4 flex-1" href={link.href}>
    {link.name}
  </a>
  <button data-btn class="px-2" aria-label="Open Collapsable">
    <Icon id="chevron" class="transition h-4 w-4" name="mdi:chevron-down" />
  </button>
  <ul
    class="max-h-[0px] overflow-hidden transition-all duration-300 origin-top w-full divide-y-2"
  >
    {
      link.categories.map((category) => {
        return (
          <li>
            <a class="block pl-8 py-4" href={`${link.href}${category.href}`}>
              {category.name}
            </a>
          </li>
        );
      })
    }
  </ul>
</nav-drop-mobile>

<script>
  class NavDropMobile extends HTMLElement {
    constructor() {
      super();
      let open = false;

      const btn = this.querySelector("[data-btn]")!;
      const ul = this.querySelector("ul")!;
      const chevron = this.querySelector("#chevron")!;

      btn.addEventListener("click", () => {
        open = !open;
        if (open) {
          ul.classList.remove("max-h-0");
          ul.classList.add("max-h-[6000px]");
          ul.classList.add("border-t-2");
          chevron.classList.add("rotate-180");
        } else {
          ul.classList.add("max-h-0");
          ul.classList.remove("max-h-[6000px]");
          ul.classList.remove("border-t-2");
          chevron.classList.remove("rotate-180");
        }
      });
    }
  }

  customElements.define("nav-drop-mobile", NavDropMobile);
</script>
