---
import BreadCrumbs from "@components/widgets/BreadCrumbs.astro";
import Layout from "./Layout.astro";
import { Img } from "astro-imagetools/components";

type Props = {
  title?: string;
  pageTitle: string;
  image: string;
};

const { title, pageTitle, image } = Astro.props as Props;
---

<Layout title={pageTitle}>
  <header class="relative max-w-[1920px] mx-auto" title={pageTitle}>
    <div class="hidden h-56 lg:block">
      <Img src={image} alt={pageTitle} />
    </div>
    <h1
      class="absolute text-5xl text-white top-1/2 w-full -translate-y-1/2 text-center"
    >
      {title}
    </h1>
  </header>

  <!-- Breadcrumbs -->
  <BreadCrumbs />
  <slot />
</Layout>
