---
import BreadCrumbs from "@components/widgets/BreadCrumbs.astro";
import Layout from "./Layout.astro";
import { Img } from "astro-imagetools/components";

type Props = {
  title?: string;
  pageTitle?: string;
  pageDescription?: string;
  pageKeywords?: string;
  image: string;
};

const { title, pageTitle, image, pageDescription, pageKeywords } =
  Astro.props as Props;
---

<Layout title={pageTitle} keywords={pageKeywords} description={pageDescription}>
  <header class="relative max-w-[1920px] mx-auto" title={pageTitle}>
    <div class="h-56">
      <Img src={image} alt={pageTitle} />
    </div>
    <div
      class="absolute w-full top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2"
    >
      <slot name="banner" />
      <h1 class="text-5xl text-white text-center">
        {title}
      </h1>
    </div>
  </header>

  <!-- Breadcrumbs -->
  <BreadCrumbs />
  <slot />
</Layout>
