---
import BreadCrumbs from "@components/widgets/BreadCrumbs.astro";
import Layout from "./Layout.astro";

type Props = {
  title?: string;
  pageTitle: string;
  image: string;
};

const { title, pageTitle, image } = Astro.props as Props;
---

<Layout title={pageTitle}>
  <header class="relative" title={pageTitle}>
    <img class="h-full w-full object-contain" src={image} alt={pageTitle} />
    <h1 class="absolute top-1/2 w-full -translate-y-1/2 text-center">
      {title}
    </h1>
  </header>

  <!-- Breadcrumbs -->
  <BreadCrumbs />
  <slot />
</Layout>
